In [2]:
import pandas as pd

In [3]:
ba_ratings = pd.read_csv('./data/BeerAdvocate/ratings-without-text.csv', nrows=8393032)

In [7]:
ba_ratings.head(3)

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,review
0,Régab,142544,Societe des Brasseries du Gabon (SOBRAGA),37262,Euro Pale Lager,4.5,1440064800,nmann08,nmann08.184925,3.25,2.75,3.25,2.75,3.0,2.88,True
1,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1235127600,StJamesGate,stjamesgate.163714,3.00,3.50,3.50,4.00,3.5,3.67,True
2,Barelegs Brew,19590,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.5,1142247600,mdagnew,mdagnew.19527,4.00,3.50,3.50,4.00,3.5,3.73,True

In [4]:
rb_ratings = pd.read_csv('./data/RateBeer/ratings-without-text.csv', nrows=7122074)

In [6]:
rb_big = pd.read_csv('./data/RateBeer/ratings_big.csv')
ba_big = pd.read_csv('./data/BeerAdvocate/ratings_big.csv')

In [8]:
ba_big.head(3)

,year,brewery_name,by_tuple,big
0,2015,Societe des Brasseries du Gabon (SOBRAGA),"('Societe des Brasseries du Gabon (SOBRAGA)', ...",0
1,2009,Strangford Lough Brewing Company Ltd,"('Strangford Lough Brewing Company Ltd', 2009)",0
2,2006,Strangford Lough Brewing Company Ltd,"('Strangford Lough Brewing Company Ltd', 2006)",0

: